:root {
  --grey-dark-0: #252525;
  --grey-dark-1: #282828;
  --grey-dark-2: #424242;
  --grey-dark-3: #414141;
  --grey-light-0: #4f4f4f;
  --grey-light-1: #5F5F5F;
  --grey-light-2: #777777;
  --grey-light-3: #B8B8B8;

  --grey-dark-0_opac-0: #252525a4;

  --green-0: #339C2A;
  --green-1: #5aa753;
  --green-light-0: #30B81D;
  --green-light-1: #36d321;
  --green-dark-1: #125e08;
  --green-dark-1: #146e09;
  --red-0: #AC3939;
  --red-1: #f53535;
  --red-2: #ca4949;
  --orange-0: #FF7F27;
  --blue-0: #3989AC;
  --blue-light-0: #4caed8;
  --blue-light-1: #54bbe7;
  --blue-light-2: #6fcff8;

  --pink-0: #d46ca9;

  --bg-color-0: var(--grey-dark-0);
}
